body {
    font-family:'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    margin: 0px;
    padding: 0;
}

header {
    background-color: #0B1A23;
    color: #fff;
    padding: 0px ;
    font-size: larger;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  text-align: center;
  padding: 0%;
 }
 

#page2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #61a4ad;
    margin-top: 5px;
  }
  .left_2 {
    width: 50%;
    padding: 40px;
  }
  .left_2 h1 {
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    margin: 0;
    font-size: 4em;
    text-align: center;
  }
  .left_2 p {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    margin-top: 10px;
    font-size: 1.6em;
  }
  .right_2 {
    
    justify-content: center;
    align-items:center;
    width: 50%;
  }
  
  .right_2 img {
    margin-left: 6%;
    min-width: 75%;
    height: auto;
  }
  
  #page3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #c0dee5;
  }
  .left_3 {
    width: 50%;
    padding: 40px;
  }
  .left_3 h1 {
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    margin: 0;
    font-size: 3.8em;
    text-align: center;
  }
  .left_3 ol {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    margin-top: 10px;
    font-size: 1.6em;
  }
  .right_3 {
    margin-left: 0%;
    width: 50%;
  }
  
  .right_3 img {
    max-width: 100%;
    height: auto;
  }

footer {
    background-color: #0B1A23;
    color: #fff;
    text-align: center;
    padding: 0px 0px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    bottom: 0px;
    width: 100%;
}












/* Add this CSS for the logo section */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-section {
    display: flex;
    align-items: auto;
}
.logo-link {
    text-decoration: none;
    color: inherit; /* Use the default color */
    display: flex;
    align-items: center;
}
.logo {
    width: 110px; /* Adjust the width as needed */
    margin-right: 5px; /* Adjust the margin as needed */
}

.company-name {
    font-size: 40px; /* Increase the font size */
    color: #fbfbfb; /* Adjust the color as needed */
    margin-right: auto; /* Pushes the company name to the right */
    font-family:'Times New Roman', Times, serif; /* Specify a font family */
    font-weight: bold; /* Make the font bold */
    margin: 0; /* Reset margin */
    display: inline; /* Display the company name inline */
}